<h1>Create new project</h1>

<% if @project.errors.any? %>
<h2>Error message: </h2>
<ul>
    <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <%end%>
</ul>
<%end%>

<%= form_with scope: :project, url: project_index_path, local: true, class: "nifty_form"  do |f| %>
<div class="form-group">

    <%= f.label :project_name %>
    <%= f.text_field :name, class: "form-control" %>

</div>
<div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: "form-control" %>

</div>

<p>
    <%= f.submit :Save , class: "btn btn-primary" %>
</p>
<%end%>